body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*{
  margin: 0;
  padding:0;
}
ul {
  width:1040px;
  list-style: none;
}
ul li{
 width:200px;
 height: 92px;
 float: left;
 margin-left:10px;
 margin-bottom:10px;
 border: 1px solid #000;

}
ul li img{
  width:65px;
  height: 92px;
  float: left
}
ul li p{
  width:130px;
  float:right;
  font-size:14px;
  height: 
}

